<html>
<head>
    <title>Add New Account</title>
</head>
<body>
<h1>Add New Account</h1>
<form action="/account/insert" method="get">
    First Name: <input id="account_fname" name="account_fname" type="text" />
    </br>
    Last Name: <input id="account_lname" name="account_lname" type="text" />
    </br>
    e-mail: <input id="account_email" name="account_email" type="text" />
    </br>
    <input type="submit" />

</form>
</body>

</html>