<html>
<head>
    <title>Add New Address</title>
</head>
<body>
<h1>Add New Address</h1>
<form action="/address/insert" method="get">
    Street Name: <input id="address_name" name="address_name" type="text" />
    </br>
    Zip: <input id="address_zip" name="address_zip" type="text" />
    </br>
    <input type="submit" />

</form>
</body>

</html>